* text=auto

*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.txt text eol=lf
.env.example text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

openwrt/* text eol=lf
openwrt/**/*.ps1 text eol=crlf
openwrt/**/*.json text eol=lf
